[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/clam.vim"]
	path = vim/bundle/clam.vim
	url = https://github.com/sjl/clam.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/bundle/vim-orgmode.git"]
	path = vim/bundle/vim-orgmode.git
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/vim-markdown.vim"]
	path = vim/bundle/vim-markdown.vim
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/utl.vim"]
	path = vim/bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "vim/bundle/vim-localvimrc"]
	path = vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/vim-signify.git"]
	path = vim/bundle/vim-signify.git
	url = https://github.com/mhinz/vim-signify.git
